/* Default CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Default CSS */
body {
    font-family: "Lucida Grande";
}

/* open - All Property */
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* close - All Property */

/* #1 - Tambahkan CSS pada class container */
.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

/* #1 - Tambahkan CSS pada class top-wrapper */
.top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url("https://prog-8.com/images/html/advanced/top_en.png");
    background-size: cover;
    color: #ffffff;

    /* #4 - Menyesuaikan Layout pada class top-wrapper */
    text-align: center;
}

/* #2 - Tambahkan CSS untuk tag h1 dalam class top-wrapper */
.top-wrapper h1 {
    opacity: 0.7;
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

/* #2 - Tambahkan CSS untuk tag p dalam class top-wrapper */
.top-wrapper p {
    opacity: 0.7;
    margin-bottom: 3px;
}

/* #3 - open - Tambahkan Buttons pada class top-wrapper */
.btn {
    padding: 12px 24px;
    display: inline-block;
    color: #ffffff;
    opacity: 0.8;

    /* #4 - Menyesuaikan Layout pada class top-wrapper */
    border-radius: 4px;
}

/* #4 - Menyesuaikan Layout pada class top-wrapper */
.btn:hover {
    opacity: 1;
}

.signup {
    background-color: #239b76;
}

.facebook {
    background-color: #3b5998;
    margin-top: 10px;
}

.twitter {
    background-color: #55acee;
}

.btn-wrapper {
    margin: 10px 0;
}

/* #3 - close - Tambahkan Buttons pada class top-wrapper */

/* #5 - Tambahkan Icons pada Buttons*/
.fa {
    margin-right: 5px;
}

/* #6 - Tambahkan CSS pada Layout Header */
header {
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.7);

    /* #14 - Menambahkan Properti agar Header berada selalu diatas (fixed) */
    position: fixed;
    top: 0;
    z-index: 10;
}

/* #6 - Tambahkan CSS pada class Logo dalam Layout Header */
.logo {
    width: 124px;
    margin-top: 20px;
}

/* #7 - open - Tambahkan CSS pada menu Login dalam Layout Header */
.header-left {
    float: left;
}

.header-right {
    float: right;
    background-color: transparent;
}

.menu:hover {
    background-color: rgba(255, 255, 255, 0.4);

    /* #8 - Tambahkan Properti Transition */
    transition: all 0.5s;
}

/* #8 - Tambahkan CSS pada tag a dalam class header-right */
.header-right ul li {
    display: inline-block;
    list-style: none;
}

.header-right a {
    padding: 0 25px;
    display: block;

    line-height: 65px;
    /*nilai disamakan dengan nilai tinggi pada Layout Header*/

    color: #ffffff;
}

/* #7 - close - Tambahkan CSS pada menu Login dalam Layout Header */

/* #9 - open - Tambahkan CSS pada class container dalam Layout class lesson-wrapper */
.lesson-wrapper {
    height: 520px;
    padding-bottom: 80px;
    background-color: #f7f7f7;

    /* #11 - Tambahkan property untuk Menyelaraskan Layout */
    text-align: center;
}

.heading {
    padding: 80px 0 30px 0;
    color: #5f5d60;
}

.heading h2 {
    font-weight: normal;
}

/* #10 - open - Tambahkan CSS pada class lesson dalam Layout class lessons */

.lesson {
    float: left;
    width: 25%;
}

/* #11 - open - Tambahkan CSS pada class lesson-icon dalam Layout class lesson */
.lesson-icon {
    position: relative;
}

.lesson-icon p {
    position: absolute;
    top: 90px;
    width: 100%;
    color: #ffffff;
}

.txt-contents {
    display: inline-block;
    width: 80%;
    margin-top: 20px;
    font-size: 15px;
    color: #b3aeb5;
}

/* #11 - open - Tambahkan CSS pada class lesson-icon dalam Layout class lesson */

/* #10 - close - Tambahkan CSS pada class lesson dalam Layout class lessons */

/* #9 - close - Tambahkan CSS pada class container dalam Layout class lesson-wrapper */

/* #12 - open - Tambahkan CSS pada class message-wrapper */
.message-wrapper {
    padding-bottom: 80px;
    text-align: center;
    border-bottom: 1px solid #eee;
}

.message {
    padding: 15px 40px;
    background-color: #5dca88;
    cursor: pointer;
    box-shadow: 0 7px #1a7940;
}

.message:active {
    position: relative;

    top: 7px;
    /*nilai ini disesuaikan dengan nilai vertical box-shadow yang diberikan*/

    box-shadow: none;
}

.heading h3 {
    font-weight: normal;
}

/* #12 - close - Tambahkan CSS pada class message-wrapper */

/* #13 - open - Tambahkan CSS pada Layout Footer */
footer img {
    width: 125px;
}

footer p {
    font-size: 12px;
    color: #b3aeb5;
}

footer {
    margin: 30px 0;
}

/* #13 - close - Tambahkan CSS pada Layout Footer */